@font-face {
    font-family: 'Ostrich Sans';
    src:
        url('../fonts/ostrich-sans/ostrich-regular.ttf'),
        url('../fonts/ostrich-sans/ostrich-regular.ttf') format('truestyle'),
        url('OstrichSans-Medium.woff2') format('woff2'),
        url('OstrichSans-Medium.woff') format('woff'),
        url('OstrichSans-Medium.svg#OstrichSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich Sans';
    src: 
        url('OstrichSans-Heavy.woff2') format('woff2'),
        url('OstrichSans-Heavy.woff') format('woff'),
        url('OstrichSans-Heavy.svg#OstrichSans-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich Sans';
    src: 
        url('OstrichSans-Bold.woff2') format('woff2'),
        url('OstrichSans-Bold.woff') format('woff'),
        url('OstrichSans-Bold.svg#OstrichSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich Sans';
    src: 
        url('OstrichSans-Light.woff2') format('woff2'),
        url('OstrichSans-Light.woff') format('woff'),
        url('OstrichSans-Light.svg#OstrichSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich Sans';
    src: 
        url('OstrichSans-Black.woff2') format('woff2'),
        url('OstrichSans-Black.woff') format('woff'),
        url('OstrichSans-Black.svg#OstrichSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich Sans Dashed';
    src: 
        url('OstrichSansDashed-Medium.woff2') format('woff2'),
        url('OstrichSansDashed-Medium.woff') format('woff'),
        url('OstrichSansDashed-Medium.svg#OstrichSansDashed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich Sans';
    src: 
        url('OstrichSans-Medium.woff2') format('woff2'),
        url('OstrichSans-Medium.woff') format('woff'),
        url('OstrichSans-Medium.svg#OstrichSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich Sans Rounded';
    src: 
        url('OstrichSansRounded-Medium.woff2') format('woff2'),
        url('OstrichSansRounded-Medium.woff') format('woff'),
        url('OstrichSansRounded-Medium.svg#OstrichSansRounded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden; 
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.hide-me {
    list-style: none;
    height: 0;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    font-family: 'Ostrich Sans', 'Times New Roman', serif;
    color: white;
    font-size: 64px;
    line-height: 460px;
    text-align: center;
    display: block;
    width: 100%;
    height: 460px;
}

.header {
    background-image: url(../img/Banner.jpg);
}

.item-2 {   
}

body {
    font-family: 'Ostrich Sans', 'Times New Roman', serif;
    border: 3px solid rgb(202, 200, 200);
    margin-top: 32px;
    margin-right: 50px;
    margin-bottom: auto;
    margin-left: 50px;
}

h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav {
    text-align: center;
    margin-bottom: 50px;
    
}

nav ul {
    
}

nav ul li {
    display: inline-block;
}

.home-article {
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 50px;

    text-align: center;
}

.home-p {
    margin-bottom: 30px;
}

footer {
    text-align: right;
}

#social-media-links {
    list-style: none;
    text-align: center;
}

#social-media-links ul {
    text-align: right;
}

#social-media-links > li { 
    display: inline-block;
    margin: 8px; 
}

#social-media-links .fab {
    color: rgba( 50, 50, 50, 1) ; 
    font-size: 32px;
}

#social-media-links a:hover .fab, 
#social-media-links a:focus .fab,
#social-media-links a:active .fab { 
    color: rgba( 50, 50, 50, 0.5 );
}