@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Times, serif;
    font-size: 20px;
}

/* body > * { 
    border: 2px solid black;
} */

body {
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 70vh 15vh auto auto auto auto auto 50vh auto;
    grid-template-areas:  
        "name"
        "logos"
        "bio"
        "about-picture"
        "experience"
        "experience-picture"
        "education"
        "contact"
        "socials"
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden; 
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.hide-me {
    list-style: none;
    height: 0;
}

.nav {
    overflow: hidden;
    background: #1f363d;
    position: fixed;
    top: 0;
    height: 5%;
    width: 100%;
    text-align: right;
}

.nav ul {
    margin-top: 10px;
    margin-right: 10px;
}

.nav li{
    display: inline;
}

.nav a {
    font-weight: lighter;
    font-size: large;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    font-weight: normal;
    font-size: large;
    color: white;
}

#name { 
    grid-area: name; 
    background-image: 
        linear-gradient(90deg, rgba(112,169,161,0.30) 8%, rgba(158,193,163,0.30) 30%, rgba(207,224,195,0.30) 68%),
        url( '../img/Banner.jpg' );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    text-shadow: 6px 6px 10px #000000;
    color: white;
}

#logos { 
    grid-area: logos;
    text-align: center;
    border: 2px solid #E5E8E8;
    border-top: none;
    border-right: none;
    border-left: none;
}

#logos ul li {
    display: inline-block;
    margin-top: 36px;
}

#logos .fas {
    color: #40798C;
    font-size: 50px;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

#logos p {
    font-size: 15px;
    margin-right: 50px;
    margin-left: 50px;
}


#bio {
    grid-area: bio;
    margin-top: 16px;
}

#bio h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
}

#bio p {
    margin-right: 36px;
    margin-bottom: 30px;
    margin-left: 36px;
    font-size: 20px;
    letter-spacing: 0.04em;
}

#about-picture {
    grid-area: about-picture;  
    margin-bottom: -5px;
}

#about-picture img {
    max-width: 100%;
    height: auto;
}

#experience { 
    grid-area: experience; 
    background-color: #CFE0C3;
}

#experience h2, 
#education h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
}

#experience h3, 
#education h3 {
    font-weight: bold;
    font-size: 40px;
    color: #40798C;
    margin-left: 10px;
    margin-bottom: 0;
}

#experience h4 {
    font-size: 25px;
    color: white;
    margin-left: 10px;
    margin-bottom: 16px;
}

#experience p, 
#education p {
    margin-right: 36px;
    margin-bottom: 16px;
    margin-left: 36px;
    font-size: 20px;
    letter-spacing: 0.04em;
}

#experience-picture {
    grid-area: experience-picture;
}

#experience-picture img {
    max-width: 100%;
    height: auto;
}

#education { 
    grid-area: education; 
}

#education h4 {
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 16px;
}

#contact { 
    grid-area: contact;
    background-color: #EAEDED;
}

#contact h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

#contact form {
    border: 2px solid gray;
    border-radius: 1%;
    margin-left: 10px;
    width: 95%; 
    height: 75%;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 25px;
}

#contact label {
    display: block;
    margin-top: 10px;
}

#contact textarea {
    margin-left: 20px;
    display: block;
    resize: none;
    width: 90%;
    height: 25%;
}

button {
    font-weight: bold;
    color: #40798C;
    background-color: #CFE0C3;
    margin: 10px;
    width: 300px;
    border: 10px solid #CFE0C3;
    cursor: pointer;
}

#socials { 
    grid-area: socials; 
    text-align: center;
    background: linear-gradient(90deg, rgba(31,54,61,1) 13%, rgba(33,59,67,1) 34%, rgba(36,65,73,1) 50%, rgba(40,73,83,1) 71%, rgba(49,91,104,1) 84%, rgba(50,94,107,1) 95%);
}

#socials li{
    display: inline;
}

#socials .fab {
    color: white;
    font-size: xx-large;
    margin-top: 10px;
    margin-right: 28px;
}